/* Styles communs */
.footer {
  padding: 1rem;
}

.footer-title {
  text-align: center;
}

.social-links {
  display: flex;
  justify-content: center;
  gap: 1rem;
  list-style: none;
  padding: 0;
  margin: 0.5rem 0;
}

.social-logo {
  width: 40px;
  height: 40px;
}

.footer-buttons {
  display: flex;
  justify-content: center;
  gap: 1rem;
  margin-top: 1rem;
}

.footer-buttons button {
  border: none;
  padding: 0.5rem 1rem;
  cursor: pointer;
  border-radius: 4px;
  transition: background-color 0.2s ease;
}

.footer-copy {
  text-align: center;
  margin-top: 1rem;
}


body.dark .footer {
  background-color: black;
  color: white;
}

body.dark .footer-buttons button {
  background-color: white;
  color: black;
}

body.dark .footer-buttons button:hover {
  background-color: #ddd;
}


body.light .footer {
  background-color: #f5f5f5;
  color: black;
}

body.light .footer-buttons button {
  background-color: black;
  color: white;
}

body.light .footer-buttons button:hover {
  background-color: #333;
}
